{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ title }}</h1>
    <h1>{{ user.username }}</h1>
</div>
{% if followers %}
<table class="table table-striped">
    <thead>
        <tr>
            <td>No.</td>
            <td>Username</td>
            <td>Since</td>
        </tr>
    </thead>
    {% for follow in followers %}
    <tr>
        <td>{{ loop.index + ((page - 1) * config.ABLOG_TABLE_PER_PAGE) }}</td>
        <td>
            <a href="{{ url_for('user.user', user_id = follow.followed.id) }}">
                {{ follow.followed.username }}
            </a>
        </td>
        <td>{{ moment(follow.timestamp).format('L') }}</td>
    </tr>
    {% endfor %}
{% endif %}
</table>
<div class="pagination">
    {{ render_pagination(pagination) }}
</div>
{% endblock %}
