<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello - ABLOG </title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/black_swan.min.css') }}"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
    {% for message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ message[0] }}" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message[1] }}
    </div>
    {% endfor %}
    <div class="jumbotron">
        <h1 class="display-4">Hello, Stranger</h1>
        <p class="lead">This is a simple blog site</p>
        <hr class="my-4">
        <p>It uses Flask to build everything.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('auth.login')}}" role="button">Login</a>
        <a class="btn btn-primary btn-lg" href="{{ url_for('auth.signup')}}" role="button">Signup</a><br>
        <p>The source <a href="https://github.com/python-myway" target="_blank">GitHub</a>
        </p>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>