<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello - ABLOG </title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/black_swan.min.css') }}"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
    {% for message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ message[0] }}" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message[1] }}
    </div>
    {% endfor %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Hello, Stranger</h1>
            <p class="lead text-muted">This is a simple blog systerm site.</p>
            <p class="lead text-muted" >Ablog is not finished, more features to be implemented.</p>
            <p class="lead text-muted" >It is powered by <a href="https://www.python.org/" rel="nofollow" target="_blank">Python</a> and <a href="http://flask.pocoo.org/" rel="nofollow" target="_blank">Flask.</a></p>
            <p class="lead text-muted">The source code <a href="https://github.com/python-myway/ablog" target="_blank">GitHub.</a></p>
            <p>
                <a href="{{ url_for('auth.login')}}" class="btn btn-primary my-2">Login</a>
                <a href="{{ url_for('auth.signup')}}" class="btn btn-secondary my-2">Signup</a>
            </p>
        </div>
    </section>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>